URL='https://logoblink.com'

DISQUS_SHORTNAME=
DISQUS_BASEURL=
GA_REPORTING_EMAIL=
GA_REPORTING_PRIVATE_KEY=
GA_REPORTING_VIEW_ID=
GA_TRACKING_ID=
GTM_ID=

GATSBY_ADSENSE_PUB_ID=
# This should be needed in development
GATSBY_GITLAB_APPID=

GATSBY_GPT_NETWORK_CODE='1001580'
